<style>
    @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
</style>
<div class="menu">
    <nav class="navbar navbar-expand-sm navbar-dark">
      <div class="logo">
        <img src="../../../assets/img/LOGO-final.png" alt="Logo marketpro">
        <a class="navbar-brand" href="/admin-menu">ViveFit UPS</a>  
      </div>  
      <div class="left-links">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex" role="search">
                <button class="btn btn-dark" (click)="logOut()"  type="button">Cerrar Sesion</button>
            </form>
            </div>
      </div>
    </nav>
  </div>
