<app-navbar></app-navbar>
<div class="container_">
    <div class="row justify-content-center">
        <!-- Columna para el formulario -->
        <div class="col-lg-7">
            <div class="card card-formulario">
                <div class="card-body text-center">
                    <span class="titulo"> {{ titulo | uppercase }}</span>
                    <form class="mt-3" [formGroup]="productoForm" (ngSubmit)="agregarProducto()">
                        <div class="mb-3">
                            <input type="text" formControlName="producto" class="form-control form-control-lg" placeholder="Anuncio">
                            <div class="text-danger" *ngIf="productoForm.get('producto')?.hasError('required') && productoForm.get('producto')?.touched">
                                <span>El nombre del anuncio <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="categoria" class="form-control form-control-lg" placeholder="Nombre de la persona que registra">
                            <div class="text-danger" *ngIf="productoForm.get('categoria')?.hasError('required') && productoForm.get('categoria')?.touched">
                                <span>El nombre <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="ubicacion" class="form-control form-control-lg" placeholder="Hora de registro">
                            <div class="text-danger" *ngIf="productoForm.get('ubicacion')?.hasError('required') && productoForm.get('ubicacion')?.touched">
                                <span>La hora <strong>es obligatoria</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="number" formControlName="precio" class="form-control form-control-lg" placeholder="Ingrese 0">
                            <div class="text-danger" *ngIf="productoForm.get('precio')?.hasError('required') && productoForm.get('precio')?.touched">
                                <span>La cantidad<strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button routerLink="/admin-menu" class="btn btn-secondary btn-lg float-start">VOLVER</button>
                            <button type="submit" [disabled]="productoForm.invalid" class="btn btn-success btn-lg float-end">ACEPTAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
