<app-navbar></app-navbar>

  <div class="container_">
    <div class="cont1">
      <img src="../../../assets/img/markettienda.jpg" alt="Market Tienda" />
      <img src="../../../assets/img/t2.jpg" alt="T2" />
    </div>
    <div class="cont2">
      <button
        type="button"
        routerLink="/listar-usuarios"
        class="btn btn-warning"
      >
        GESTIÓN DE USUARIOS
      </button>
      <button
        type="button"
        routerLink="/ver-prod"
        class="btn btn-warning"
      >
        CATÁLOGO DE PRODUCTOS
      </button>
      <button
        type="button"
        routerLink="/list-prod"
        class="btn btn-warning"
      >
        GESTIÓN DE COMPRA/VENTA
      </button>
      <button
        type="button"
        routerLink="/ver-prod"
        class="btn btn-warning"
      >
        GESTIONAR PROVEEDORES
      </button>
    </div>
  </div>

  <!-- Footer -->
  <footer class="container-fluid py-5 texto">
    <div class="floatbox">
      <div class="item">
        <div class="content">
          <img src="../../../assets/img/iconos/candado.png" alt="candado" />
          <p>Pagos 100% seguros</p>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <img src="../../../assets/img/iconos/entrega.png" alt="candado" />
          <p>
            Encuentranos en Quito. Estamos ubicados en San José de Morán
          </p>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <img src="../../../assets/img/iconos/estrellas.png" alt="candado" />
          <p>Productos de calidad</p>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <p>Operamos con</p>
          <a href="https://www.paypal.com/ec/signin">
            <img src="../../../assets/img/iconos/paypal.png" alt="candado" />
          </a>
        </div>
      </div>
    </div>
  </footer>