<app-navbar></app-navbar>

<div class="container_">
    <div class="cont1">
      <img src="../../../assets/img/gym.png" alt="Market Tienda" />
    </div>
    <div class="cont2">
      <!-- seccion de anuncios -->
      <div class="x">
        <div class="row_">
            <!-- Columna para la lista de productos -->
            <div class="col-lg-10">
                <div class="card card-lista">
                    <div class="card-body text-center">
                        <span class="titulo">LISTADO DE ANUNCIOS</span>
                        <button class="btn btn-success float-start" routerLink="/ingresar-prod">NUEVO</button>
                        <table *ngIf="listProductos.length > 0" class="table table-striped mt-3">
                            <thead>
                              <tr>
                                <th scope="col">Anuncio</th>

                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let producto of listProductos">
                                <td>{{ producto.nombre }}</td>

                                <td>
                                    <i (click)="eliminarProducto(producto._id)" class="fas fa-trash text-danger"></i>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <h5 style="text-align: start; margin-top: 10px;" *ngIf="listProductos.length == 0">No hay anuncios para mostrar</h5>
                    </div>
                </div>
            </div>
    </div>
</div>










